html, body, #root {
  height: 100%;
}

body .vsc-initialized {
  margin: 0px auto;
  padding: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ml-1 {
  margin-left: 0.5rem !important;
}

.sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0px;
}

.home {
  background: radial-gradient(500px at 45.66% 54.73%, rgba(183, 199, 204, 0) 0%, rgba(183, 199, 204, 0.47) 100%);
}

.credits {
  background: radial-gradient(500px at 45.66% 54.73%, rgba(183, 199, 204, 0) 0%, rgba(183, 199, 204, 0.47) 100%);
  height: 100%;
  padding-top: 100px;
  text-align: center;
  height: 1000px;
}

.jumbotron.homeJumbotron {
  background: transparent;
}

.jumbotron.creditsJumbotron {
  background: transparent;
}

.fighterList {
  max-width: 800px;
}

.fighterDropdowns {
  margin-bottom: rem !important;
  margin-top: 4rem !important;
}

.backArrow {
  z-index: 1000;
}

.backHexagon {
  position: absolute;
  top: 0;
  left: 0;
}

.arrowSvg {
  position: absolute;
  top: 6px;
  left: 17px;
}

.navbar {
  height: 35px;
}

.navbar.default {
  background: black;
}

.navbar.bayonetta {
  background: #2E3383;
}

.navbar.samus {
  background: #DF5050;
}

.navbar.pikachu {
  background: #FADE45;
}

.navbar.luigi {
  background: #59B23D;
}

.navbar.ness {
  background: #F96B6D;
}

.navbar.captain-falcon {
  background: #6E6C9D;
}

.navbar.jigglypuff {
  background: #F5BDC5;
}

.navbar.peach {
  background: #FA79A6;
}

.navbar.daisy {
  background: #FECC62;
}

.navbar.bowser {
  background: #F8AF37;
}

.navbar.ice-climbers {
  background: #8C7BE0;
}

.navbar.yoshi {
  background: #91DC82;
}

.navbar.dark-samus {
  background: #4AE4F6;
}

.navbar.link {
  background: #53C5E3;
}

.navbar.wolf {
  background: #3F367C;
}

.navbar.fox {
  background: #FD823E;
}

.navbar.mario {
  background: #de4a4d;
}

.navbar.donkey-kong {
  background: #7A3810;
}

.navbar.banjo-and-kazooie {
  background: #FC415A;
}

.navbar.inkling {
  background: #fd7636;
}

.navbar.kirby {
  background: #F7566C;
}

.navbar.sheik {
  background: #677AAB;
}

.navbar.zelda {
  background: #F97DAB;
}

.navbar.dr-mario {
  background: #190F23;
}

.navbar.charizard {
  background: #E57147;
}

.navbar.bowser-jr {
  background: #9BC44F;
}

.navbar.chrom {
  background: #404B61;
}

.navbar.cloud {
  background: #5CF3F8;
}

.navbar.corrin {
  background: #D75FC9;
}

.navbar.dark-pit {
  background: #8463F3;
}

.navbar.diddy-kong {
  background: #EC4848;
}

.navbar.duck-hunt {
  background: #584EA8;
}

.navbar.falco {
  background: #4E63DE;
}

.navbar.ganondorf {
  background: #841AE0;
}

.navbar.greninja {
  background: #4FCEFF;
}

.navbar.hero {
  background: #82A4E1;
}

.navbar.ike {
  background: #423D65;
}

.navbar.incineroar {
  background: #F8676B;
}

.navbar.isabelle {
  background: #F8AA1D;
}

.navbar.ivysaur {
  background: #85DAE7;
}

.navbar.joker {
  background: #484E5F;
}

.navbar.joker-arsene {
  background: #A03356;
}

.navbar.ken {
  background: #D75B49;
}

.navbar.king-dedede {
  background: #29ABFF;
}

.navbar.king-k-rool {
  background: #A2C28A;
}

.navbar.little-mac {
  background: #1F1F1E;
}

.navbar.lucas {
  background: #F65F71;
}

.navbar.lucina {
  background: #424467;
}

.navbar.lucario {
  background: #4295C9;
}

.navbar.marth {
  background: #456688;
}

.navbar.roy {
  background: #DB4E4B;
}

.navbar.mega-man {
  background: #8ACCF5;
}

.navbar.meta-knight {
  background: #8A559B;
}

.navbar.mewtwo {
  background: #7E4A6B;
}

.navbar.mii-brawler {
  background: #D03630;
}

.navbar.mii-gunner {
  background: #6C87D6;
}

.navbar.mii-swordfighter {
  background: #5978CF;
}

.navbar.mr-game-and-watch {
  background: #010000;
}

.navbar.olimar {
  background: #FCEB6A;
}

.navbar.pac-man {
  background: #FFE761;
}

.navbar.palutena {
  background: #6FEAFD;
}

.navbar.pichu {
  background: #FFED65;
}

.navbar.piranha-plant {
  background: #FF574F;
}

.navbar.pit {
  background: #C3C8DB;
}

.navbar.richter {
  background: #5576B8;
}

.navbar.ridley {
  background: #8B4E72;
}

.navbar.rob {
  background: #B9B6B5;
}

.navbar.robin {
  background: #3A3643;
}

.navbar.rosalina-and-luma {
  background: #6CCFC4;
}

.navbar.ryu {
  background: #C84D4D;
}

.navbar.shulk {
  background: #FF5A69;
}

.navbar.simon {
  background: #723E57;
}

.navbar.snake {
  background: #66717C;
}

.navbar.sonic {
  background: #3144E1;
}

.navbar.squirtle {
  background: #9BD6EF;
}

.navbar.toon-link {
  background: #7EB455;
}

.navbar.villager {
  background: #F75150;
}

.navbar.wario {
  background: #F8CC64;
}

.navbar.wii-fit-trainer {
  background: #68C2DA;
}

.navbar.young-link {
  background: #64B359;
}

.navbar.zero-suit-samus {
  background: #64BAD9;
}

.navTriangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 35px solid #425055;
  border-right: 202px solid transparent;
  left: 0;
}

.jumbotron {
  margin: 0px auto;
  margin-top: 15px;
  width: 100%;
  padding-bottom: 1rem;
  color: #425055;
  background: radial-gradient(500px at 45.66% 54.73%, rgba(183, 199, 204, 0) 0%, rgba(183, 199, 204, 0.47) 100%);
}

.jumbotron.fighter {
  background: linear-gradient(270deg, rgba(183, 199, 204, 0) 44.74%, rgba(183, 199, 204, 0.47) 100%);
  font-family: "Roboto", "-apple-system", "Segoe UI", "Helvetica Neue", "Arial";
}

.jumbotron.fighter img {
  max-width: 450px;
}

.jumbotron>h1 {
  font-size: 3.5em;
  margin-top: 0.2em;
  font-weight: 800;
  font-style: italic;
  letter-spacing: -0.05em;
}

.jumbotron>img {
  width: 25%;
  max-width: 155px;
}

.full-width-bar {
  margin: 0 -9999rem;
  margin-bottom: 2.0rem;
  /* add back negative margin value */
  padding: 0.25rem 9999rem;
  padding-bottom: 0rem;
  background: #58E3EC;
}

.emblem {
  position: relative;
  top: -42px;
}

.emblem img {
  position: relative;
  left: 0px;
  width: 150px;
  top: 0;
}

.emblem h1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -0.05em;
  position: relative;
  top: -84px;
  left: 56px;
}

.jumbotron.fighter h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -0.05em;
}

.form-group {
  width: 275px;
  margin: 0px auto;
}

.input-group {
  width: 275px;
  margin: 0px auto
}

.centered {
  text-align: center;
}

.moves {
  margin-top: 30px;
}

.timelineText {
  font-size: 8px;
  font-weight: bold;
  margin-bottom: 0px;
}

@media screen and (max-width: 500px) {
  .jumbotron h1 {
    font-size: 2.3em;
  }
  .emblem h1 {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -0.05em;
    position: relative;
    top: -10px;
    left: 0%;
  }
}

@media screen and (min-width: 1200px) {
  .fighterList {
    max-width: 1000px;
  }
}