body .vsc-initialized {
  margin: 0px auto;
  padding: 0;
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E5E5E5;
}

.navbar {
  height: 70px;
  background: #D75FC9;
}

.navTriangle {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 70px solid #425055;
  border-right: 405px solid transparent;
  left: 0;
}

.jumbotron {
  margin: 0px auto;
  margin-top: 60px;
  width: 100%;
}

.jumbotron .centered .h1 {
  font-size: 3.0em;
}

.form-group {
  width: 275px;
  margin: 0px auto;
}

.input-group {
  width: 275px;
  margin: 0px auto
}

.centered {
  text-align: center;
}

.moves {
  margin-top: 30px;
}

.timelineText {
  font-size: 8px;
  font-weight: bold;
  margin-bottom: 0px;
}