/* Big "box" that holds all the frame data (includes the title above the box) */

.moveBox {
  width: 90%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.moveBox .name {
  font-style: normal;
  font-weight: 900;
  font-size: 3.0em;
  line-height: 95.62%;
  letter-spacing: -0.065em;
  text-transform: capitalize;
}

.moveBox .borderedMoveData {
  border: 2px solid #425055;
  box-sizing: border-box;
  border-radius: 10px;
}

/* .moveBox .buttons {
  position: absolute;
  width: 100px;
  left: 0px;
  top: 80px;
  bottom: 82px;
  background: #D3362F;
  border-radius: 10px 0px 0px 0px;
} */

/* .moveBox .image {
  position: absolute;
  width: 312px;
  height: 208px;
  left: 100px;
  top: 80px;
} */

.moveBox .totalFramesText {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 95.62%;
  letter-spacing: -0.065em;
  text-transform: uppercase;
  color: #90A4AE;
}

.moveBox .statsTitleSecondary {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 95.62%;
  letter-spacing: -0.065em;
  text-transform: uppercase;
  color: #90A4AE;
}

.moveBox .baseDmg {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 95.62%;
  letter-spacing: -0.065em;
  text-transform: uppercase;
  color: #90A4AE;
  border-radius: 4px;
}

.moveBox .sosText {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 95.62%;
  letter-spacing: -0.065em;
  text-transform: uppercase;
  color: #90A4AE;
  border-radius: 4px;
  display: none;
}

.moveBox .startupText {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 95.62%;
  letter-spacing: -0.065em;
  text-transform: capitalize;
  color: #90A4AE;
}

.moveBox .activeText {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 95.62%;
  letter-spacing: -0.065em;
  text-transform: capitalize;
  color: #90A4AE;
}

.moveBox .recoveryText {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 95.62%;
  letter-spacing: -0.065em;
  text-transform: capitalize;
  color: #90A4AE;
}

.moveBox .notes {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 95.62%;
  letter-spacing: -0.065em;
  text-transform: capitalize;
  color: #90A4AE;
}

.moveBox .noteContent {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  line-height: 95.62%;
  display: flex;
  align-items: center;
  letter-spacing: -0.065em;
  color: #90A4AE;
}

.moveBox .moreStats {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 95.62%;
  letter-spacing: -0.065em;
  text-transform: capitalize;
}

.moveBox .statsTitle {
  color: #90A4AE;
  display: inline;
}

.moveBox .statsText {
  color: #425055;
  display: inline;
}

/* Startup, Active, Recovery Bars */

.bar {
  position: absolute;
  width: 0.7%;
  height: 30px;
  top: 0px;
  bottom: 0px;
  background: #FFED65;
  border: 1px transparent;
  border-radius: 4px;
}

.bar.active {
  background: #00CC44;
}

.bar.recovery {
  background: #E31919;
}

.frameContainer {
  height: 38px;
  position: absolute;
  left: 0%;
  right: 2.13%;
  top: 6.5%;
  bottom: 20.6%;
  margin-left: 0.5%;
}

.moveBox .timelineCol {
  height: 50px;
}

.moveBox .timelineBackground {
  position: absolute;
  width: 90%;
  height: 38px;
  left: 4%;
  background: #425055;
  border: 2px solid #B7C7CC;
  box-sizing: border-box;
  border-radius: 4px;
}

@media screen and (max-width: 500px) {
  .moveBox {
    width: 100%;
  }
  .moveBox .name {
    font-size: 2.0em;
  }
  .moveBox .totalFramesText {
    font-size: 1.6em;
  }
  .movebox .statsTitleSecondary {
    font-size: 1.4em;
  }
  .moveBox .baseDmg {
    font-size: 1.6em;
  }
  .moveBox .startupText {
    font-size: 1.2em;
  }
  .moveBox .activeText {
    font-size: 1.2em;
  }
  .moveBox .recoveryText {
    font-size: 1.2em;
  }
  .moveBox .frameContainer {
    left: 1px;
  }
  .bar {
    width: 1.5%;
    top: 0px;
    border: 0;
    border-radius: 0;
  }
  .moveBox .notes {
    display: none;
  }
  .moveBox .moreStats {
    font-size: 1.0em;
  }
}