/* Big "box" that holds all the frame data (includes the title above the box) */

.moveBox {
  width: 100%;
  max-width: 95%;
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: -0.065em;
  line-height: 95.62%;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.moveBox .row {
  margin-left: 0px;
  margin-right: 0px;
}

.moveBox .darkSubtitle {
  color: #425055;
  font-style: normal;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.0rem;
}

.moveBox .smallText {
  font-size: 0.8em;
}

.moveBox .tinyText {
  font-size: 0.87rem;
  white-space: pre;
}

.moveBox .notes {
  white-space: normal !important;
}

.moveBox .thinText {
  font-weight: normal;
}

.moveBox .mainStats {
  font-weight: bold;
  /* border-bottom: 2px solid #B7C7CC; */
}

.moveBox .black {
  color: #425055;
}

.moveBox .lightgray {
  color: #B7C7CC;
}

.moveBox .darkgray {
  color: #90A4AE;
}

.moveBox .green {
  color: #07B440;
}

.moveBox .red {
  color: rgb(211, 80, 80);
}

.moveBox .graybg {
  background: #E6ECEE;
}

.moveBox .whitebg {
  background: white;
}

.moveBox .leftBorder {
  /* border-left: 2px solid #B7C7CC; */
}

.moveBox .hitboxImage {
  /* border-bottom: 2px solid #B7C7CC; */
}

.moveBox .hitboxContainer {
  background: #404040;
}

.moveBox .blockyTitle {
  color: white;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: -0.05em;
  text-transform: capitalize;
  text-shadow:-2px -2px 0px rgb(16, 15, 17), 1px -2px 0px rgb(16, 15, 17), 2px 3px 0px rgb(16, 15, 17), -1px 2px 0px rgb(16, 15, 17), 2px -2px 0px rgb(16, 15, 17), 3px 3px 1px rgb(16, 15, 17), 3px 1px 1px rgb(16, 15, 17);
  font-weight: bold;
  padding-top: 8px;
}

.moveBox .blockyDmg {
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -0.03em;
  text-transform: capitalize;
  text-shadow:
       2px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-weight: bold;
  padding-top: 12px;
  font-style:italic;
}

.moveBox .smallerBlockyTitle {
  color: white;
  letter-spacing: -0.065em;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.1rem;
  line-height: 1.4em;
  text-shadow: -1px -1px 0px rgb(16, 15, 17), 1px -1px 0px rgb(16, 15, 17), 1px 2px 0px rgb(16, 15, 17), -1px 1px 0px rgb(16, 15, 17), 1px 0px 0px rgb(16, 15, 17), 2px 2px 1px rgb(16, 15, 17);
}

/* .moveBox .moveName {
  font-style: normal;
  font-weight: 900;
  font-size: 2.5em;
  background: #E31919;
  padding: 20px 10px;
  border-radius: 14px 14px 0px 0px;
  border-bottom: 4px solid #BB1515;
} */

/*  shadow color was rgb(16, 15, 17), */

.moveBox .moveName {
  font-style: normal;
  font-weight: 900;
  background: #399bb3;
  border-radius: 4px 4px 0px 0px;
  /* border-bottom: 4px solid rgb(64, 64, 71); */
}

.moveBox .otherStats {
  background: #E6ECEE;
}

.moveBox .frameRow {
  /* border-left: 2px solid #B7C7CC; */
  border-radius: 0px 0px 0px 4px;
  background: #dfdee4;
}

.moveBox .frameCol {
  /* border-bottom: 2px solid #B7C7CC; */
}

/* .moveBox .buttons {
  position: absolute;
  width: 100px;
  left: 0px;
  top: 80px;
  bottom: 82px;
  background: #D3362F;
  border-radius: 10px 0px 0px 0px;
} */

/* .moveBox .image {
  position: absolute;
  width: 312px;
  height: 208px;
  left: 100px;
  top: 80px;
} */

.moveBox .totalFramesText {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  letter-spacing: -0.065em;
  text-transform: uppercase;
  color: #90A4AE;
}

.moveBox .statsTitleSecondary {
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: -0.065em;
  text-transform: uppercase;
  color: #90A4AE;
}

.moveBox .baseDmg {
  font-style: italic;
  font-weight: 800;
  font-size: 2.6em;
  letter-spacing: -0.065em;
  text-transform: uppercase;
  color: black;
  border-radius: 4px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

.moveBox .selfDmg {
  font-style: italic;
  font-weight: 800;
  font-size: 2.6em;
  letter-spacing: -0.065em;
  text-transform: uppercase;
  color: black;
  border-radius: 4px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(43, 18, 29);
  -webkit-text-fill-color: rgb(190, 42, 42);
}

.moveBox .sosText {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.5em;
  letter-spacing: -0.065em;
  text-transform: uppercase;
  color: #90A4AE;
  border-radius: 4px;
  display: none;
}

.moveBox .noteContent {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  letter-spacing: -0.065em;
  color: #90A4AE;
}

.moveBox .moreStats {
  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: -0.065em;
  text-transform: capitalize;
  white-space: pre;
  overflow-wrap: break-word;
}

.moveBox .moreStats .notesText {
  white-space: normal;
  font-weight: normal;
  text-transform: none;
}

.moveBox .statsTitle {
  color: #90A4AE;
  display: inline;
}

.moveBox .statsText {
  color: #425055;
  display: inline;
  font-weight: normal;
}

.switch {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #40414b;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: -2px;
  bottom: 15px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #75dc5a;
}

input:focus+.slider {
  box-shadow: 0 0 1px #75dc5a;
}

input:checked+.slider:before {
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#shieldSvg {
  width:16px;
}

#explosionSvg {
  width:15px;
}

@media screen and (max-width: 500px) {
  .moveBox {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .moveBox .moveName {
    font-size: 2.0em;
  }
  .moveBox .totalFramesText {
    font-size: 1.6em;
  }
  .movebox .statsTitleSecondary {
    font-size: 1.4em;
  }
  .moveBox .baseDmg {
    font-size: 2.0em;
  }
  .moveBox .selfDmg {
    font-size: 2.0em;
  }
  .moveBox .frameText {
    font-size: 1.2em;
  }
  /* .moveBox .frameContainer {
    left: 1px;
  } */
  .movebox .timelineBackground {
    height: 30px;
  }
  .bar {
    width: 1.5%;
    top: 1px;
    border: 0;
    border-radius: 0;
  }
  .moveBox .leftBorder {
    border-left: none;
  }
  .moveBox .frameRow {
    border-left: none;
  }
  .moveBox .mainStats {
    border-bottom: none;
  }
  .moveBox .frameCol {
    border-bottom: none;
  }
  .moveBox .hitboxImage {
    border-bottom: none;
  }
}